/*********************************************************************

    Table of Contents

**********************************************************************

01  Houskeeping
02  Start Game
        02.1 Validate Players
03  Game in Progress
        03.1    2 People
        03.2    1 Person (Player 1) & Computer (Player 2)
04  Game Over
        04.1    Tie
        04.2    Winner = Player 1
        04.3    Winner = Player 2
05  New Game
06  End
        
**********************************************************************/
/*********
    01  Housekeeping
*********/

@keyframes blinker {  
  50% { opacity: 0; }
}

body {
    background: #fff;
    font-family: "Play", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-family: "Play", sans-serif;
    line-height: 0.7;
    margin: 0 auto;
    text-align: left;
    width: 1.875em;
}

button {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 1.25em 5em;
    text-decoration: none;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
}

/**********
    02  Start Game 
**********/

.screen {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.screen header {
    position: relative;
    top:5%;
}

.screen h1 {
    color: #fff;
}

.screen-start {
    background: #54D17A;
}

.screen-start h1 {
    font-size: 6em;
}

.screen-start #startBtn {
    background-color: #fff;
    color: #54D17A;
}

.screen-start h1 > #startBtn {
    margin-top: 10em;
}

form {
    margin-top: 5em;
}

form button {
    margin-top: 2.5em;
}

/**********
    03  Game in Process
**********/

.board {
    padding-top: 1em;
}

.board h1 {
    margin-top: 0.3em;
}

.players {
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 1rem;
    width: 35%;
    padding: 1.25em 0 1em;
    outline: 1px solid #ccc;
    transition: 1s;
}

.players svg g {
    fill: rgba(0, 0, 0, 0.25);
}

.players:first-child {
    left: 7.5%;
}

.players:last-child {
    right: 7.5%;
}

/* add some pizazz and get extra credit - display the players names  */

.playerNames {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
}

.player1name,
.player2name {
    flex: 0 1 auto;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    text-align: center
}

#player1.players.active svg g, 
#player2.players.active svg g {
    fill: #fff;
}

#player1.players.active {
    background: #FFA000;
}

#player2.players.active {
    background: #3688C3;
}

.boxes {
    padding-top: 10%;
    width: 480px;
    margin: 3em auto 0;
}

.boxes .box {
    background: #EFEFEF;
    border-radius: 4px;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 1.75em;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s ease;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
}

.boxes .box:nth-child(3n) {
    margin-right: 0;
}

.boxes .played1 {
    background-color: #FFA000;
    background-image: url(../img/o.svg);
}

.boxes .played2 {
    background-color: #3688C3;
    background-image: url(../img/x.svg);
}


/**********
    04  Game Over
**********/

.screen-win header {
    font-size: 2em;
    font-weight: 700;
    color: #000;
    position: relative;
    top: 17.5%;
}

.screen-win header:before {
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    font-size: 4em;
    font-weight: 400;
    line-height: 0;
    z-index: -1;
}

.screen-win.tie {
    background-color: #54D17A;
    background-size: cover;
}

.screen-win.one {
    background-color: #FFA000;
    background-size: cover;
}

.screen-win.two {
    background-color: #3688C3;
    background-size: cover;
}

.tie #winner {
    width: 300px;
    margin: 20% auto;
    padding: 1.75em;
    color:#fff;
}

.one #winner {
    width: 300px;
    margin: 20% auto;
    padding: 1.75em;
    box-sizing: border-box;
    background-image: url(../img/o2.svg);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center center;
    color:#fff;
}

 .two #winner {
    width: 30%;
    margin: 20% auto;
    padding: 1.75em;
    box-sizing: border-box;
    background-image: url(../img/x2.svg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center center;
    color:#fff;
}

#newButton {
    position: absolute;
    bottom:10%;
    left: 50%;
    margin-left: -7.5%;
}

.screen-win.one #newButton {
    color: #3688C3;
}

.screen-win.two #newButton {
    color: #FFA000;
}
